infra/state_machine.asl.json
{
  "Comment": "GAIA CODE — Ingest then Narrative",
  "StartAt": "Ingest",
  "States": {
    "Ingest": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:your-aws-account-id:function:gaia-ingest-lambda",
      "ResultPath": "$.ingest",
      "Next": "GenerateNarrative",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 2,
          "BackoffRate": 2.0,
          "MaxAttempts": 3
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "FailState"
        }
      ]
    },
    "GenerateNarrative": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:your-aws-account-id:function:gaia-narrative-lambda",
      "Parameters": {
        "region_id.$": "$.region_id",
        "s3_bucket.$": "$.ingest.bucket",
        "s3_key.$": "$.ingest.s3_key"
      },
      "ResultPath": "$.narrative",
      "End": true,
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 2,
          "BackoffRate": 2.0,
          "MaxAttempts": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "FailState"
        }
      ]
    },
    "FailState": {
      "Type": "Fail",
      "Error": "PipelineFailed"
    }
  }
}

